@charset "UTF-8";
/* Estilos gerais do modal */
#modal {
    display: none; /* Inicialmente escondido */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo semitransparente */
    z-index: 9999; /* Para garantir que o modal fique acima de outros conteúdos */
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

/* Conteúdo do modal */
#modal-content {
    background-color: #fff;
    width: 100%;
    max-width: 500px;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Estilo do título no modal */
#modal h2 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--cor-primaria);
    margin-bottom: 1.5rem;
}

/* Estilos para o formulário dentro do modal */
#leadForm input,
#leadForm button {
    width: 100%;
    padding: 1rem;
    font-size: 1.1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease;
    margin-bottom: 1rem;
}

/* Estilo ao focar nos inputs e no botão */
#leadForm input:focus,
#leadForm button:focus {
    border-color: var(--cor-primaria);
}

/* Estilo específico para os inputs */
#leadForm input[type="text"],
#leadForm input[type="email"],
#leadForm input[type="tel"] {
    margin-bottom: 1.5rem; /* Para separar mais os inputs */
}

/* Estilo para o botão de envio */
#leadForm button {
    background-color: var(--cor-rosa);
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

/* Efeito hover do botão */
#leadForm button:hover {
    background-color: var(--cor-lilas-forte);
}

/* Responsividade */
@media (max-width: 768px) {
    #modal-content {
        padding: 1.5rem;
    }

    #modal h2 {
        font-size: 1.8rem;
    }

    #leadForm input,
    #leadForm button {
        font-size: 1rem;
        padding: 0.8rem;
    }
}