@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-bk: #F2DAD8;
    --cor-rosa: #F25790;
    --cor-lilas: #AB7ABF;
    --cor-primaria: #5F1BF2;
    --cor-lilas-forte: #8350F2;
    --fonte-padrao: 16px;
    --fonte-menor: 14px;
}

body, html {
    width: 100%;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: var(--cor-primaria);
    scroll-behavior: smooth;
}

section {
    padding: 2rem;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

p, li {
    font-size: var(--fonte-padrao);
    line-height: 1.6;
}

ul {
    list-style: disc;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
}

a {
    display: inline-block;
    background-color: var(--cor-primaria);
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s;
}
a:hover {
    background-color: var(--cor-lilas-forte);
}

#Destaque {
    position: relative;
    display: flex; /* Usar Flexbox para alinhar */
    align-items: center; /* Alinha verticalmente */
    justify-content: center; /* Alinha horizontalmente */
    flex-direction: column; /* Para empilhar os textos em coluna */
    background-image: url('img/bk/header.svg');
    background-size: cover;
    background-position: center center; /* Melhor ajuste de foco */
    color: #fff;
    padding: 2rem;
    height: 100vh;
    overflow: hidden;
    text-align: justify; /* Ainda mantém o texto centralizado */
}

#Destaque h1, #Destaque h2 {
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    margin: 0.5rem 0;
    width: 60%;
}

#Problema {
    background-image: url('img/bk/2.svg');
    background-size: cover;
    background-position: top center; /* Melhor ajuste de foco */
    height: 50vh;
}

#Problema > .retangulo{
    background-color: #ffffff;
    width: max-content;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

/* Estilo geral da seção Benefícios */
#Beneficios {
    background-image: url('img/bk/3.svg');
    background-size: cover;
    background-position: bottom center; /* Melhor ajuste de foco */
    padding: 4rem 2rem;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

#Beneficios h1 {
    font-size: 2.5rem;
    color: var(--cor-primaria);
    font-weight: bold;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

/* Contêiner de benefícios */
.beneficios-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: auto;
}

.beneficio {
    background-color: white;
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.beneficio:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.2);
}

/* Ícones */
.beneficio .icone {
    width: 60px;
    height: 60px;
    margin-bottom: 1rem;
    background: var(--cor-lilas);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.beneficio .icone img {
    width: 50%;
    height: auto;
}

/* Títulos e textos */
.beneficio h2 {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--cor-lilas-forte);
    margin-bottom: 1rem;
}

.beneficio p {
    font-size: 1rem;
    color: var(--cor-primaria);
    line-height: 1.6;
    opacity: 0.8;
}

/* Prova Social */
#ProvaSocial {
    padding: 2rem;
    border-radius: 16px;
    text-align: center;
}

#ProvaSocial h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--cor-primaria);
}

/* Carrossel de depoimentos */
.carrossel {
    display: flex;
    overflow: hidden;
    margin-bottom: 2rem;
    justify-content: center;
    gap: 2rem;
    position: relative;
}
.carrossel-item {
    min-width: 250px;
    flex: 1;
    padding: 1.5rem;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.carrossel-item blockquote {
    font-style: italic;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: var(--cor-lilas-forte);
}
.carrossel-item span {
    display: block;
    font-weight: 600;
    color: var(--cor-primaria);
}

/* Cards estilo redes sociais */
.cards {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.card {
    width: 280px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 1rem;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card p {
    font-size: 1rem;
    color: var(--cor-primaria);
    margin-top: 1rem;
}

.card span {
    display: block;
    margin-top: 0.5rem;
    color: var(--cor-lilas);
    font-weight: 600;
}

/* Estilo geral da seção Oferta */
#Oferta {
    background: linear-gradient(145deg, var(--cor-bk), var(--cor-lilas));
    padding: 6rem 2rem;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

#Oferta h1 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--cor-primaria);
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    letter-spacing: 2px;
    background: linear-gradient(45deg, var(--cor-rosa), var(--cor-lilas));
    -webkit-background-clip: text;
    color: transparent;
}

#Oferta p {
    font-size: 1.2rem;
    color: var(--cor-primaria);
    opacity: 0.9;
    margin-bottom: 2.5rem;
    font-weight: 400;
}

.oferta-container {
    max-width: 1200px;
    margin: auto;
}

.oferta-intro {
    margin-bottom: 4rem;
}

.oferta-info {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    margin-bottom: 3rem;
    position: relative;
}

.oferta-box {
    background: #ffffff;
    border-radius: 20px;
    padding: 2.5rem;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease-in-out, box-shadow 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
}

.oferta-box::before {
    content: "";
    position: absolute;
    top: -30%;
    left: -30%;
    width: 150%;
    height: 150%;
    background: linear-gradient(45deg, var(--cor-lilas), var(--cor-rosa));
    opacity: 0.1;
    z-index: -1;
    transition: opacity 0.3s ease-in-out;
}

.oferta-box:hover {
    transform: translateY(-10px);
    box-shadow: 0px 20px 45px rgba(0, 0, 0, 0.2);
}

.oferta-box:hover::before {
    opacity: 0.2;
}

.oferta-box h2 {
    font-size: 1.6rem;
    color: var(--cor-lilas-forte);
    margin-bottom: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.oferta-box p {
    font-size: 1.1rem;
    color: var(--cor-primaria);
    line-height: 1.6;
    opacity: 0.8;
}

.oferta-preco {
    margin-top: 1.5rem;
}

.oferta-preco h3 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--cor-rosa);
    margin-bottom: 1rem;
}

.condicoes-pagamento {
    margin-top: 1.5rem;
}

.condicoes-pagamento h4 {
    font-size: 1.4rem;
    color: var(--cor-lilas);
    font-weight: 600;
}

.condicoes-pagamento ul {
    list-style: none;
    font-size: 1.2rem;
    color: var(--cor-primaria);
    padding-left: 0;
    margin-top: 1rem;
}

.condicoes-pagamento li {
    margin-bottom: 0.5rem;
}

/* Seção de plano personalizado */
.oferta-plano-personalizado {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    margin-top: 3rem;
    text-align: center;
}

.oferta-plano-personalizado h2 {
    font-size: 1.8rem;
    color: var(--cor-rosa);
    margin-bottom: 1rem;
}

.oferta-plano-personalizado p {
    font-size: 1.2rem;
    color: var(--cor-primaria);
    line-height: 1.6;
    opacity: 0.8;
}

/* Botão de CTA */
.cta-button {
    display: inline-block;
    background-color: var(--cor-rosa);
    color: white;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 1.2rem 3rem;
    border-radius: 50px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    transition: background-color 0.4s ease, transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 3rem;
}

.cta-button:hover {
    background-color: var(--cor-lilas-forte);
    transform: translateY(-5px);
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.2);
}

/* Estilo geral da seção FAQ */
#FAQ {
    background-image: url('img/bk/4.svg');
    background-size: cover;
    background-position: top center; /* Melhor ajuste de foco */
    padding: 6rem 2rem;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.1);
    margin-top: 4rem;
}

#FAQ h1 {
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--cor-primaria);
    margin-bottom: 2rem;
    text-transform: uppercase;
}

#FAQ p {
    font-size: 16px;
    color: var(--cor-primaria);
    opacity: 0.8;
    margin-bottom: 3rem;
    font-weight: 400;
    text-align: justify;
}

/* Contêiner de perguntas */
.faq-container {
    max-width: 900px;
    margin: auto;
    padding: 0 1rem;
}

/* Estilo dos itens da FAQ */
.faq-item {
    background: #F9F9F9;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    transition: background 0.3s ease, transform 0.3s ease-in-out;
    cursor: pointer;
}

.faq-item:hover {
    transform: translateY(-5px);
    background-color: #f1f1f1;
}

.faq-item .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faq-item .faq-question h3 {
    font-size: 16px;
    color: var(--cor-rosa);
    font-weight: bold;
    margin: 0;
}

.faq-item .faq-toggle {
    font-size: 16px;
    font-weight: bold;
    color: var(--cor-primaria);
    transition: transform 0.3s ease-in-out;
}

/* Esconder as respostas inicialmente */
.faq-item .faq-answer {
    display: none;
    margin-top: 1rem;
    font-size: 16px;
    color: var(--cor-primaria);
    line-height: 1.6;
    opacity: 0.8;
}

/* Quando a FAQ estiver aberta */
.faq-item.open .faq-answer {
    display: block;
}

.faq-item.open .faq-toggle {
    transform: rotate(45deg);
}

/* Efeitos de transição no toggle */
.faq-item .faq-toggle {
    transition: transform 0.3s ease-in-out;
}

/* CTA Final */
#CTA {
    background-image: url('img/bk/4.svg');
    background-size: cover;
    background-position: top center; /* Melhor ajuste de foco */
    padding: 2rem;
    text-align: center;
    color: white;
    border-radius: 16px;
}
#CTA a {
    margin-top: 1rem;
}

#CTA > .retangulo{
    text-align: center;
    background-color: var(--cor-lilas);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    max-width: 1080px;
    margin: auto;
}

/* Footer */
footer {
    text-align: center;
    font-size: var(--fonte-menor);
    padding: 2rem 1rem;
    color: var(--cor-primaria);
}

/* Estilos gerais para a subpágina de formulário */
#Formulario {
    background-color: #fff;
    max-width: 800px;
    margin: auto;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    margin-top: 4rem;
    text-align: center;
}

#Formulario h1 {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--cor-primaria);
    margin-bottom: 1rem;
}

#Formulario p {
    font-size: 1.1rem;
    color: var(--cor-primaria);
    opacity: 0.8;
    margin-bottom: 2rem;
    font-weight: 400;
}

/* Estilos para o formulário */
.formulario-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-group label {
    font-size: 1.1rem;
    color: var(--cor-primaria);
    margin-bottom: 0.5rem;
}

.input-group input {
    width: 100%;
    padding: 0.8rem;
    font-size: 1.1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease;
}

.input-group input:focus {
    border-color: var(--cor-primaria);
}

/* Botão continuar */
.btn-continuar {
    background-color: var(--cor-rosa);
    color: #fff;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
}

.btn-continuar:hover {
    background-color: var(--cor-lilas-forte);
}

.form-hint {
    font-size: var(--fonte-menor);
    color: #777;
    margin-left: 0.3rem;
}

/* Responsivo */
@media (max-width: 768px) {
    #Destaque {
        padding: 4rem 1rem;
    }
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.1rem;
    }
    section {
        padding: 1rem;
    }
    .carrossel {
        flex-direction: column;
        gap: 1.5rem;
    }

    .cards {
        flex-direction: column;
    }

    .card {
        width: 90%;
        margin: 1rem auto;
    }
    #Beneficios h1 {
        font-size: 2rem;
    }

    .beneficios-container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .beneficio {
        padding: 1.5rem;
    }
    #Oferta h1 {
        font-size: 2.5rem;
    }

    .oferta-info {
        grid-template-columns: 1fr;
    }

    .cta-button {
        width: 100%;
        padding: 1.2rem;
    }
    #FAQ h1 {
        font-size: 2.2rem;
    }

    .faq-item {
        padding: 16px;
    }

    .faq-item .faq-question h3 {
        font-size: 16px;
    }

    .faq-item .faq-toggle {
        font-size: 16px;
    }
    #Formulario {
        padding: 1.5rem;
    }

    #Formulario h1 {
        font-size: 2rem;
    }

    .input-group input {
        font-size: 1rem;
        padding: 0.7rem;
    }

    .btn-continuar {
        font-size: 1rem;
        padding: 0.8rem 1.5rem;
    }
}